<%- include('menu-mobile') %>
<div class="header">
    <div class="header-top">
        <%- include('logo') %>
        <div class="container">
            <%- include('search') %>
            <%- include('hamburger') %>

        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <%- include('menu') %>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <%- include('search') %>
        </div>
    </div>
</div>
